@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
*::selection {
    background-color: #463f3a;
color: #f4f3ee;
}
/*index*/
header section {
    display: flex;
    flex-wrap: wrap; 
   background-color: #463f3a;
    
    font-family: 'Playfair Display', serif;
    color: #e0afa0;
    height: 200px;
}

.img-index {
 height: 200px;
 
}
.titulo-index {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section2-h {
    margin: 10px;
    padding: 10px;
    background-color: #bcb8b1;
    height: 70px;
}
.menu_contacto{
    
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    
}
.lista-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 480px;
    padding-bottom: 10px;
    gap: 90px;
    list-style-type: none;
    color: #463f3a;
}
@media (max-width:1200px) {
.img-index {
    height: 100px;
}
.titulo-index {
    display: flex;
    justify-content: center;
}
.lista-contacto {
    margin-left: 200px;
    gap:50px;
}
}
@media (max-width:480px) {
    .titulo-index {
        align-items:center;
        font-size: 25px;
    }
    .section2-h {
        width: 450px;
        padding-left: 2px;
        margin-left: 15px;
    }
    .lista-contacto {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        padding-top: 10px;
        padding-left: 10px;
        gap: 0px;
    }
    
}
.main_index {
    background-color: #f4f3ee;
}
.carousel-item {
    height: 550px;
}
.carousel-caption  {
    background-color: #463f3ad0;
    color: #e0afa0;
    font-size: 20px;
}
.items a {
    color:#463f3a;
    text-decoration: none;
    padding: 10px;
    
}
.items a:hover {
    background-color: #463f3a79;
    color: #e0afa0;
}
 .contenedor {
    background-color: #e0afa0;
    color: #463f3a;
    margin: 20px;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;  
 }

h3 {
    display: flex;
    justify-content: center;
    
}
.imagenes {
    min-height: 400px;
    width: 100%;
    padding: 10px;
    
}
.imagenes_2 {
    width: 100%;
    min-width: 300px;
    padding: 10px; 
}
@media (max-width:480px) {
 .carousel-caption {
    width: 90px;
    font-size: 15px;
 }
}
footer {
    background-color: #bcb8b1;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    height: 100px;
    display: flex;
    justify-content:space-between;
}
.pie {
display: flex;
margin-top: 10px;
padding: 10px;color: #463f3a;
}
.pie ul {
    list-style-type: none;
}
.menu_pie {
    
    padding: 10px;
    color: #463f3a;
    text-decoration: none;
    
}
.lista_pie {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #463f3a;
}
/*sabores*/
header section {
    display: flex;
    background-color: #463f3a;
    gap: 700px;
    font-family: 'Playfair Display', serif;
    color: #e0afa0;
}
.logo-h-sabores {
    height: 200px;
}

.header h1 {
    padding-top: 50px;
    font-size: 70px;
    justify-content: center;
}
.section2-h-s {
    width: 700px;
    height: 70px;
    margin-left: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #bcb8b1;
}

.menu_productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 110px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.lista_productos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        color: #463f3a;
}
@media (max-width:1200px) {
    .logo-h-sabores {
        height: 100px;
    }
    header h1 {
       display: flex;
       justify-content: center;
    }
}
@media (max-width:480px) {
    header section {
        width: 930px;
        gap: 20px;
    }
    .header img {
        height: 150px;
    }
    
    
}

.secciones {
   background-color: #f4f3ee;
   height: 600px;
   display: grid;
   grid-template-areas: 
   "section1-s section2-s section3-s section4-s"
   "section1-s section2-s section3-s section4-s"
   "section1-s section2-s section3-s section4-s"
   "section1-s section2-s section3-s section4-s"
   "section1-s section2-s section3-s section4-s"
   "section1-s section2-s section3-s section4-s";
   font-size: 18px;




}
.section1-s {
    grid-area: section1-s;
    margin: 20px;
    padding: 20px;
    background-color:#e0afa0;
    color: #463f3a;
}

.section2-s {
    grid-area: section2-s;
    margin: 20px;
    padding: 20px;
    background-color:#e0afa0;
    color: #463f3a;
list-style-type: none;
}
.section3-s {
    grid-area: section3-s;
    margin: 20px;
    padding: 20px;
    background-color:#e0afa0;
    color: #463f3a;
list-style-type: none;
}
.section4-s {
    grid-area: section4-s;
    margin: 20px;
    padding: 20px;
    background-color:#e0afa0;
    color: #463f3a;
}
.choco-list-s {
    margin: 20px;
    padding: 20px;
    list-style-type: none;
    justify-content: center;
    font-size: 20px;

}
@media (max-width: 480px) {
    .secciones {
        grid-template-areas: 
        "section1-s"
        "section2-s"
        "section3-s"
        "section4-s";
        width: 480px;
        height: 2000px;  
    }
    .seccion1-s {
        width: 450px;
        height: 700px;
        margin: 0px;
        padding: 0px;
    }
    .seccion2-s {
        width: 450px;
        height: 700px;
        margin: 0px;
        padding: 0px;
    }
    .seccion3-s {
        width: 450px;
        height: 700px;
        margin: 0px;
        padding:10px;
    }
    .seccion4-s {
        width: 450px;
        height: 700px;
        margin: 0px;
        padding: 0px;
    }
    .choco-list-s {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.titulo-sec {
    display: flex;
    text-align: center;
}
.footer-s {
    background-color: #bcb8b1;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
@media (max-width:480px) {
    .footer-s {
        width: 480px;
        height: 150px;
    }
    .pie {
        height: 20px;
        padding-left: 5px;
        font-size: 15px;
    }
    .menu_pie {
        padding: 0px;
        padding-top: 20px;
    }
    .lista_pie {
        display: flex;
        flex-direction:column;
        padding-top: 0px;
        gap: 2px;
        font-size: 15px;
    }
}
.sabores_l {
    display: flex;
    justify-content: center;
}

/*productos*/
.logo_productos {
    height: 200px;
}
.section2-h-p {
    width: 700px;
    height: 70px;
    margin-left: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #bcb8b1;
}
 

.menu_productos {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.lista_productos {
    display: flex;
    flex-direction: row;
    padding-left:110px;
    padding-top: 10px;
    list-style-type: none;
    color: #463f3a;
}
@media (max-width:1200px) {
    .section2-h-p {
        margin-left: 250px;
    }
    .lista_contacto {
        padding-left: 35px;
    }
}
@media (max-width:480px) {
    header section {
        width: 480px;
    }
    .logo_productos {
        height: 100px;
    }
.section2-h-p {
    width: 400px;
    margin-left: 30px;
}
.menu_productos {
    font-size: 15px;
}
.lista_productos {
    gap: 2px;
    padding-left: 1px
}
}
.secciones_productos {
    background-color: #f4f3ee;
}
.container {
    background-color: #e0afa0;
    width: 4000px;
    height: 750px;
    border-style: groove;
    
}

.container h2 {
    display: flex;
    justify-content: center;
    color: #463f3a;
    padding-top: 20px;
}
.card-body {
    background-color: #bcb8b1;
}
.card-text {
    color: #463f3a;
    font-family: 'Playfair Display', serif;

}
.tarjetita {
    margin: 10px;
    transition: transform 1s;
    background-color: #463f3a;
    color: #f4f3ee;
}
.tarjetita:hover {
    transform: scale(1.1)    
}
.tarjetita .card-text:hover {
    background-color: #463f3a;
    color: #f4f3ee;
}
@media (max-width:480px) {
    .secciones_productos {
        width: 480px;
    }
    .container {
        width: 400px;
        height: 1700px;
    }
}

.lista_pie{
    display: flex;
    padding: 10px;
    padding-left: 20px;
    color: #463f3a;
    text-decoration: none;
}
.items_pie-pr1 {
    display: flex;
    padding-right: 10px;
    list-style-type: none;
    color: #463f3a;
}
.items_pie-pr2 {
    display: flex;
    padding-left: 10px;
    list-style-type: none;
    color: #463f3a;
}


/*sucursales*/
header section {
        display: flex;
        flex-wrap: wrap; 
       background-color: #463f3a;
       height: 200px;
        gap: 700px;
        font-family: 'Playfair Display', serif;
        color: #e0afa0;
    }
.logo_sucursales {
    height: 200px;
}

.imagenes_p {
    width: 300px;
}

.section2-h-s {
    width: 700px;
    height: 70px;
    margin-left: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #bcb8b1;
}

.menu_sabores {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.lista_sabores {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        color: #463f3a;
}
@media (max-width:480px) {
    header section {
        width: 620px;
    }
    
    .section2-h-s {
        width: 400px;
        margin-left: 30px;
    }
    .menu_sabores {
        font-size: 10px;
    }
    .lista_sabores {
        display: flex;
        flex-direction: row;
        padding-left: 5px;
        gap: 5px;
    }
}

.secciones_sucursales {
    margin-top: 10px;
    background-color: #f4f3ee;
    height: 700px;
    display: grid;
    grid-template-areas:  
    "search      search      ....        .... mapa mapa"
    "direcciones direcciones direcciones .... mapa mapa"
    "direcciones direcciones direcciones .... mapa mapa"
    "direcciones direcciones direcciones .... mapa mapa"
    "direcciones direcciones direcciones .... mapa mapa";
}
@media (max-width:480px) {
   .secciones_sucursales {
    grid-template-areas: 
    "search"
    "direcciones"
    "direcciones"
    "direcciones"
    "direcciones"
    "mapa"
    "mapa"
    "mapa"
    "mapa"
    "mapa";
    width: 480px;
    height: 900px;
   } 
}
.search {
    grid-area: search;
   margin: 20px;
   padding: 20px;
}
.buscador {
    height: 40px;
    width: 600px;
    font-size: 18px;
}
.lupa {
    height: 80px;
    width: 80px;
    color: #463f3a;
    background-color: #bcb8b1;
    padding: 5px;
}
@media (max-width:480px) {
    .buscador {
        width:350px;
    }
}

.direcciones {
    grid-area: direcciones;
    margin: 30px;
    margin-top: 0px;
    padding: 30px;
    border-style: groove;
    background-color: #e0afa0;
    font-size: 20px;
    overflow: scroll;  
}
.direcciones_sucursales {
    list-style-type: none;
}
@media (max-width:480px) {
    .direcciones {
        height: 300px;
        width: 400px;
    }
}
.mapa {
    grid-area: mapa;
    margin-right: 0px;
    margin-top: 20px;
    
}
@media (max-width:1200px) {
    .map-responsive iframe {
        height: 650px;
        width: 400px;
        margin-left: 35px;
        padding-top: 40px;
        padding-right: 10px;
    }
    }
@media (max-width:480px) {
.map-responsive iframe {
    height: 400px;
    width: 400px;
    margin-left: 35px;
}
}
@media (max-width:480px) {
    footer {
        width: 480px;
        height: 150px;
    }
}
/*contacto*/
.titulo- {
    font-size: 40px
}
.section2-h-c {
    width: 700px;
    height: 70px;
    margin-left: 650px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #bcb8b1;
}
.menu_contacto {
   
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.lista_contacto {
    display: flex;
    flex-direction: row;
    padding-left:110px;
    padding-top: 10px;
    list-style-type: none;
    color: #463f3a;
}
@media (max-width:1200px) {
    .titulo- {
        align-items: center;
    }
    .search2-h-c {
        margin-left: 250px;
    } 
    .lista-contacto {
        padding-left: 35px;
    }
}
@media (max-width:480px) {
    header section {
      display: flex;
      gap: 100px;
      height: 150px;
      width: 480px;
    }  
    header .logo_sucursales {
      height: 100px;
    }
    .titulo- {
        padding-top: 40px;
      font-size: 30px;
    }
    .section2-h-c {
        margin-left: 35px;
        height: 50px;
        width: 400px;
    }
    .menu_contacto {
        font-size: 15px;
    }
    .lista_contacto {
        padding-top: 5px;
        padding-left: 5px;

    }
  }
.secciones_contacto {
    background-color:#f4f3ee;
    height: 700px;
}

.sections {
    height: 100px;
    width: 1000;
    display: grid;
    grid-template-areas: 
    "s1_c s1_c s1_c .... .... s5_c  s5_c"
    "s1_c s1_c s1_c .... .... s6_c  s6_c"
    "s2_c s2_c s2_c .... .... s7_c  s7_c"
    "s3_c s3_c s3_c .... .... s8_c  s8_c"
    "s4_c s4_c s4_c .... .... s9_c  s9_c"
    "s4_c s4_c s4_c.... .... s10_c s10_c";
    font-size:20;
    
    

}
.s1_c {
    grid-area: s1_c;
    margin-left:10px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 20px;
    border-style: groove;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s2_c {
    grid-area: s2_c;
    margin: 10px;
    padding: 10px;
    border-style: groove;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s3_c {
    grid-area: s3_c;
    margin: 10px;
    padding: 10px;
    border-style: groove;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s4_c {
    grid-area: s4_c;
    margin: 10px;
    padding: 10px;
    padding-top: 40px;
    border-style: groove;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s5_c {
    grid-area: s5_c;
    margin-right: 80px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 21px;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s6_c {
    grid-area: s6_c;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s7_c {
    grid-area: s7_c;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s8_c {
    grid-area: s8_c;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.s9_c {
    grid-area: s9_c;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 10px;
    color: #463f3a;
    background-color: #e0afa0;
    height: 70px;
    
}
.s10_c {
    grid-area: s10_c;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 10px;
    color: #463f3a;
    background-color: #e0afa0;
    
}
.ig {
    padding-left: 5px;
    color:#463f3a
}
.f {
    padding-left: 5px;
    color:#463f3a
}
.tk {
padding-left: 5px;
color:#463f3a
}
.wp {
padding-left: 5px;
color:#463f3a
}
.h2_c {
    display: flex;
    justify-content: center;
}
.formulario {

    width: 300px;
    height: 40px;
    font-size: 18px;
    
}
@media (max-width: 480px) {
    .secciones_contacto {
        height: 1050px;
        width: 480px;
    }
    .sections {
        grid-template-areas: 
        "s1_c s1_c s1_c"
        "s1_c s1_c s1_c"
        "s2_c s2_c s2_c"
        "s3_c s3_c s3_c"
        "s4_c s4_c s4_c"
        "s4_c s4_c s4_c"
        "s5_c s5_c s5_c"
        "s6_c s6_c s6_c"
        "s7_c s7_c s7_c"
        "s8_c s8_c s8_c"
        "s9_c s9_c s9_c"
        "s10_c s10_c s10_c";
    }
}
.pie_c {
    margin-top: 10px;
}
.boton_enviar {
    height: 30px;
    width: 50px;
}
.logo_sucursales-pie {
   height: 80px;
   width: 80px;
   padding:10px;
}
@media (max-width:480px) {

    .pie_c {
        width: 480px;
        height: 150px;
    }
    
}

.scale-up-ver-top {
    animation:scale-up-ver-top .4s cubic-bezier(.39,.575,.565,1.000) both;
    animation-delay: 5ms;
    
}
 
@keyframes scale-up-ver-top{0%{transform:scaleY(.4);transform-origin:100% 0}100%{transform:scaleY(1);transform-origin:100% 0}}
 
 .scale-up-hor-left{
    animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;
    animation-delay: 10ms;
}

    @keyframes scale-up-hor-left{0%{transform:scaleX(.4);transform-origin:0 0}100%{transform:scaleX(1);transform-origin:0 0}}

.scale-up-hor-center{
    animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both;
    animation-delay: 10ms;
}
 
    @keyframes scale-up-hor-center{0%{transform:scaleX(.4)}100%{transform:scaleX(1)}}
 
 .scale-up-ver-bottom{
    animation:scale-up-ver-bottom .4s cubic-bezier(.39,.575,.565,1.000) both;
    animation-delay: 13ms;
}

    @keyframes scale-up-ver-bottom{0%{transform:scaleY(.4);transform-origin:0 100%}100%{transform:scaleY(1);transform-origin:0 100%}}
 
  