@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

$fontplayfairdisplay: 'Playfair Display', serif;
$maincolor: #e0afa0;
$secondarycolor: #463f3a;